
<mat-toolbar color="primary"[routerLink]="['/']">
  <span (click)="reset()">Root Map Setup</span>
</mat-toolbar>

<div class="container">
  <!--<div class="row">
    <div class="col">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Game Input</mat-label>
        <textarea matInput
                  class="input-game"
                  placeholder="Enter Rootlog game data here..."
                  (keyup)="gameChange()"
                  [(ngModel)]="game2"
                  [ngModelOptions]="{ standalone: true }"></textarea>
        <mat-hint *ngIf="validRootlog">This is a valid Rootlog!</mat-hint>
      </mat-form-field>
    </div>
  </div>
  

  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Game URL</mat-label>
        <input matInput
               type="text"
               class="input-game"
               placeholder="Enter Rootlog game url here..."
               (keyup)="gameUrlChange()"
               [(ngModel)]="gameUrl"
               [ngModelOptions]="{ standalone: true }" />
        <mat-hint *ngIf="validRootlogUrl">This URL contains valid Rootlog!</mat-hint>
      </mat-form-field>
    </div>
  </div>-->
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Players</mat-label>
        <textarea matInput
                  class="input-game"
                  placeholder="Enter # of players here..."
                  (keyup)="gameChange()"
                  [(ngModel)]="options.players"
                  [ngModelOptions]="{ standalone: true }"></textarea>
      </mat-form-field>
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Bots</mat-label>
        <textarea matInput
                  class="input-game"
                  placeholder="Enter # of bots here..."
                  (keyup)="gameChange()"
                  [(ngModel)]="options.bots"
                  [ngModelOptions]="{ standalone: true }"></textarea>
      </mat-form-field>
      
    </div>
  </div>
  <div class="row-check">
    <div class="row-col">
      <mat-checkbox (change)="gameChange()" [(ngModel)]="options.hirelings"> Hirelings?</mat-checkbox>
      
    </div>  
    <div class="row-col">
      <mat-checkbox (change)="gameChange()" [(ngModel)]="options.balanced"> Balanced Clearings?</mat-checkbox>
    </div>
    <div class="row-col">
      <mat-checkbox (change)="gameChange()" [(ngModel)]="options.outsiders"> Outsiders Expansion?</mat-checkbox>
    </div>
    <div class="row-col">
      <mat-checkbox (change)="gameChange()" [(ngModel)]="options.extra"> Extra Settings?</mat-checkbox>
    </div>
  </div>
  <div *ngIf="options.extra">
    <div class="center">
      <h1 (click)="all('bannedFactions')">Banned Factions</h1>
    </div>
    <div class="row-check"> 
      <div class="row-col" *ngFor="let faction of keys(getFactions(options.outsiders)); let index = index">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.bannedFactions[faction].banned"> {{options.bannedFactions[faction].properName}}</mat-checkbox>
      </div> 
    </div>
    <div class="center">
      <h1 (click)="all('bannedMaps')">Banned Maps</h1>
    </div>
    <div class="row-check"> 
      <div class="row-col" *ngFor="let faction of keys(getMaps()); let index = index">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.bannedMaps[faction].banned"> {{options.bannedMaps[faction].properName}}</mat-checkbox>
      </div> 
    </div>
    <div class="center">
      <h1 (click)="all('bannedBots')">Banned Bots</h1>
    </div>
    <div class="row-check"> 
      <div class="row-col" *ngFor="let faction of keys(getBots()); let index = index">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.bannedBots[faction].banned"> {{options.bannedBots[faction].properName}}</mat-checkbox>
        
      </div>   
    </div>
    <div class="center">
      <h1 (click)="all('bannedClasses')">Banned Vagabond Classes</h1>
    </div>
    <div class="row-check"> 
      <div class="row-col" *ngFor="let faction of keys(getClasses()); let index = index">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.bannedClasses[faction].banned"> {{options.bannedClasses[faction].properName}}</mat-checkbox>
      </div>
    </div>
    <div class="center">
      <h1 (click)="all('bannedHirelings')">Banned Hirelings</h1>
    </div>
    <div class="row-check"> 
      <div class="row-col" *ngFor="let faction of keys(getHirelings()); let index = index">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.bannedHirelings[faction].banned"> {{options.bannedHirelings[faction].properName}}
        </mat-checkbox>
      </div>   
    </div>
    <div class="center">
      <h1>Other</h1>
    </div>
    <div class="row-check"> 
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.forcedDemoted"> Force Demote Hirelings</mat-checkbox>
      </div>
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.forcedPromoted"> Force Promote Hirelings</mat-checkbox>
      </div>
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.contrastiveHirelings"> Remove Hireling Exclusivity</mat-checkbox>
      </div>
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.alternativeTreetop"> Alternative Treetop Setup</mat-checkbox>
      </div>
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.ferryMapPriority"> Ferry Priority on Lake</mat-checkbox>
      </div>
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.towerMapPriority"> Tower Priority on Mountain</mat-checkbox>
      </div>
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.passLandmarkPriority"> Pass Priority on Mountain</mat-checkbox>
      </div>
      <div class="row-col">
        <mat-checkbox  (change)="gameChange()" [(ngModel)]="options.looseLock"> Loosen Lock Restrictions</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Max Landmarks</mat-label>
          <textarea matInput
                    class="input-game"
                    placeholder="Enter max # of landmarks here..."
                    (keyup)="gameChange()"
                    [(ngModel)]="options.maxLandmarks"
                    [ngModelOptions]="{ standalone: true }"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Min Landmarks</mat-label>
          <textarea matInput
                    class="input-game"
                    placeholder="Enter min # of landmarks here..."
                    (keyup)="gameChange()"
                    [(ngModel)]="options.minLandmarks"
                    [ngModelOptions]="{ standalone: true }"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Hirelings</mat-label>
          <textarea matInput
                    class="input-game"
                    placeholder="Enter # of Hirelings here..."
                    (keyup)="gameChange()"
                    [(ngModel)]="options.hirelingsNum"
                    [ngModelOptions]="{ standalone: true }"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Exiles and Partisans Deck Odds</mat-label>
          <textarea matInput
                    class="input-game"
                    placeholder="Enter Exiles and Partisans Deck Odds here..."
                    (keyup)="gameChange()"
                    [(ngModel)]="options.epDeckOdds"
                    [ngModelOptions]="{ standalone: true }"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-flat-button
              color="primary"
              [routerLink]="['/full-game']"
              [queryParams]="getURLParams()"
              [disabled]="!validRootlog && !validRootlogUrl">Generate Map</button>
    </div>
  </div>
</div>
